@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;

  color: white;
  background-color: #140933;

  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
}

.flexLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.fullWidth {
  width: 100%
}

.containerDeiFiltri {
  height: 0;
  overflow: hidden;
  transition: height .7s ease-in-out
}
.attivo {
  height: 380px;
}

.mainContainer {
  position: relative;
  width: 100vw;

  padding-bottom: 50px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  overflow: hidden;

  z-index: 1;

  min-height: 100vh;
}

.calcolatore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calcola {
  position: fixed;
  right: 20px;
  bottom: 20px;

  z-index: 50;
}

.calcola button {
  border: none;
  padding: 10px;

  font-size: 20px;

  border-radius: 0.34em;
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
  cursor: pointer;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  background-color: #fbba16;


  color: black;

  font-weight: bold;
}

.mainLayout {
  position: relative;


  padding: 20px;

  background-color: #3a2a8b;

  border-radius: 10px;

  display: flex;
  align-items: center;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);

  max-width: 400px;
}

.column {
  flex-direction: column;
}

.noStyle {
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  padding-top: 20px;
}

.guadagnoLabel {
  position: relative;
  display: flex;

  justify-content: flex-end;
  align-items: center;

  width: 120px;
  text-align: right;
}

.usd {
  position: absolute;
  font-size: 12px;
  bottom: 0;
}

.flexCenter {
  justify-content: center;
}
.flexSpace {
  justify-content: space-between;
}
.flexAround {
  justify-content: space-around;
}

.input {
  position: relative;
  width: 65%;
  max-width: 200px;
}
.input input {
  height: 40px;
  border: none;

  border-radius: 10px;

  font-size: 25px;

  padding: 0;
  padding-left: 5px;
  padding-right: 50px;

  width: 100%;

  max-width: 148px;
  
}

.input select {
  height: 40px;
  border: none;

  border-radius: 10px;

  width: 100px;
}
.inputLabel {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #3a2a8b;

  height: 40px;
  line-height: 40px;
}

.label {
  width: 35%;
  text-align: right;
}

.winLabel {
  display: flex;
  justify-content: end;
  align-items: center;
}

.multyplierButton {
  width: 30px;
}

.label button {
  width: 30px;
  height: 30px;

  border-radius: 10px;

  border: none;

  color: black;
  background-color: #fbba16;

  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
}

/* MARGIN */

.marginTop10 {
  margin-top: 10px;
}
.marginTop30 {
  margin-top: 30px;
}

/* MAX WIDTH */

.maxWidth350 {
  max-width: 350px;
}

.footer {
  position: relative;

  padding: 40px 0 50px 0;

  background-color: #140f39;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  overflow: scroll;

  z-index: 99;

  box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.2);
}

.footerText {
  max-width: 300px;
  color: white;
  text-align: center;
}

.footerButton {
  position: relative;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;

  font-size: 15px;

  border-radius: 0.34em;
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
  cursor: pointer;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  background-color: #fbba16;

  color: black
}

.thc {
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  right: 0;
  top: 0;
}

.resultLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SLIDER MODALITà */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.avatar {
  position: absolute;
  left: 0;
  bottom: 0;
}

.avatar img {
  height: 140px;
}

.alignEnd {
  align-items: flex-end;
  width: calc(100% - 60px);
  padding-right: 20px;
}

.ics {
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  right: 0;
  top: 0;
}
.selected {
  color: #fbba16!important
}

#royal, #team {
  color: white;
  font-weight: bold;

  transition: color 0.5s ease-in-out;
}

.buttonOne {
  border: none;
  margin: 0 10px;
  padding: 10px;

  font-size: 20px;

  border-radius: 0.34em;
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
  cursor: pointer;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  background-color: #fbba16;


  color: black;

  font-weight: bold;
}
.buttonTwo {
  border: none;
  
  padding: 10px;

  font-size: 20px;

  border-radius: 0.34em;
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
  cursor: pointer;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  background-color: #fbba16;


  color: black;

  font-weight: bold;
}
.buttonTre {
  border: none;
  
  padding: 10px;

  font-size: 15px;

  border-radius: 0.34em;
  clip-path: polygon(3% 0, 97% 0, 100% 25%, 97% 100%, 3% 100%, 0 75%);
  cursor: pointer;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);

  background-color: #fbba16;


  color: black;

  font-weight: bold;
  margin: 5px
}


a {
  color: #2290FF
}

.experimentalDiv {
  margin-top: 30px;
}

.back {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: flex-end;
}


.separatore {
  height: 100px;
  width: 2px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  color: #d80000;
}

.avatar {

  height: 120px;
  width: 120px;

  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.margin10 {
/*   margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; */
  margin: 10px
}